footer{
    height: 300px;
    background-color: black;
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 0 ;
}

.footer-sec{
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 100px;
    width: 100%;
    text-transform: capitalize;
} 
.footer-header{
    margin-bottom: 15px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer-sec span{
    margin-bottom: 5px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}
.footer-sec span:hover{
    text-decoration:underline;
    text-decoration-color: white;
}

.footer-logo{
    background-color: white;
    border-radius: 7px;
    width: 40px;
    margin-bottom: 20px ;
}
.copy-right{
    width: 150%;
    align-self:flex-end;
    justify-self:flex-start ;
    margin-bottom: 20px;
    margin-left: -5px;
}